<!DOCTYPE html>

{% extends "base.html" %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}shlink - URL List{% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="jumbotron bg-light" style="overflow: none; height: 100vh; width: 100vw;">
                <label for="searchbar">Search</label>
                <input type="text" name="searchbar" class="form-control">
                <br>
                {% for url in urlList %}
                    <div class="card d-block p-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ url.name }}</h5>
                            <p class="card-text"><a href="{% url "main:url" name=url.name %}">{{ url.url }}</a></p>
                        </div>
                    </div>
                {% endfor %}
                <script>
                    let searchBar = document.querySelector("input")
                    let entries = document.querySelectorAll("div.card")

                    searchBar.addEventListener("input", () => {
                        entries.forEach((card) => {
                            let header = card.querySelector("div.card-body h5.card-title")
                            console.log(header.textContent, searchBar.value)
                            if (header.textContent.includes(searchBar.value)) {
                                card.classList.add("d-block")
                                card.style.display = "inline"
                            } else {
                                card.classList.remove("d-block")
                                card.style.display = "none"
                            }
                        })
                    })
                </script>
                <br><br><br>
                <ul class="pagination justify-content-center">
                    {% if page|add:0 != 1 %}
                        <li class="page-item"><a class="page-link" href="{% url "main:list" page=page|add:-1 %}">&laquo;</a></li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="{% url "main:list" page=page %}">{{ page }}</a></li>
                    {% if amount|add:0 == 5 %}
                        <li class="page-item"><a class="page-link" href="{% url "main:list" page=page|add:1 %}">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endblock %}
    </body>
</html>
